<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%_ if (data.css == 'scss') { -%>
    <link rel="stylesheet" href="style.scss" type="text/css">
    <%_ } else { -%>
    <link rel="stylesheet" href="style.css" type="text/css">
    <%_ } -%>
</head>
<body>
    <%_ if (data.js == 'ts') { -%>
    <script src="index.ts"></script>
    <%_ } else { -%>
        <script src="index.js"></script>
    <%_ } -%>
</body>
</html>